body {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 98%;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

img {
  width: 85%;
  height: auto;
  border-radius: 110px;
  box-shadow:
    rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
