@import "tailwindcss";

@theme {
  --font-sans: JetBrains Mono, monospace;
  --color-base: #1E1E2E;
  --color-sky: #91d7e3;
  --color-blue: #8aadf4;
  --color-maroon: #ee99a0;
  --color-peach: #f5a97f;
  --color-green: #a6da95;
  --color-teal: #8bd5ca;
  --color-surface: #363a4f;
  --color-pink: #f5bde6;
  --color-midnight: #121063;
}

@layer components {

  @import "https://www.nerdfonts.com/assets/css/webfont.css";

  @keyframes blink {

    0%,
    100% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
  }

  .caret {
    display: inline-block;
    width: 1rem;
    height: 1.25rem;
    vertical-align: middle;
    border-left: 0.2rem solid white;
    animation: blink 1s infinite;
  }

  p,
  h1,
  h2,
  h3,
  a,
  li {
    @apply text-slate-300;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  .code-block {
    @apply px-4 border shadow-md shadow-black rounded-md my-6 max-w-full overflow-x-auto text-xs md:text-base;
    border-color: var(--color-peach);
  }
}
