@tailwind base;
@tailwind components;
@tailwind utilities;

@import "https://www.nerdfonts.com/assets/css/webfont.css";

@layer components {
  @keyframes blink {

    0%,
    100% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }
  }

  .caret {
    display: inline-block;
    width: 1rem;
    height: 1.25rem;
    vertical-align: middle;
    border-left: 0.2rem solid white;
    animation: blink 1s infinite;
  }

  p,
  h1,
  h2,
  h3,
  a,
  li {
    @apply text-slate-300;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  .code-block {
    @apply px-4 border shadow-md shadow-black border-peach rounded-md my-6 max-w-full overflow-x-auto text-xs md:text-base;
  }
}
